/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower
/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector

section {
  .header {
    background-image: url("http://fuse-angular-material.withinpixels.com/assets/images/backgrounds/header-bg.png");
    background-size: cover;
    height: 80px;
    min-height: 80px;
    max-height: 80px;
    padding: 10px 10px 10px 20px;
    margin-bottom: 25px;
    padding-bottom: 20px;

    h1 {
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    .logo-text {
      font-size: 24px;
      padding: 20px;
    }

    h5 {
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }
}

.toolbar-header {
  span {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }
}

.template {
  border-top: 3px solid red;

  h1,
  h3 {
    text-align: center;
  }
}

.tall-header {
  background-image: url("http://fuse-angular-material.withinpixels.com/assets/images/backgrounds/header-bg.png");
  background-size: cover;
}

.md-whiteframe-1dp {
  .whiteframe-header {
    padding: 16px;
    .title {
      font-size: 17px;
    }
  }
  .content {
    padding: 16px;

    .info-line {
      margin-bottom: 24px;

      .title {
        font-size: 15px;
        font-weight: 500;
        padding-bottom: 4px;
      }
    }
  }
}

.user-profile {
  padding: 15px;

  .profile-image {
    margin-right: 24px;
  }

  .avatar.huge {
    width: 96px;
    min-width: 96px;
    height: 96px;
    line-height: 96px;
  }

  .avatar {
    width: 40px;
    min-width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0 8px 0 0;
    border-radius: 50%;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    color: #FFF;
  }

  h1 {
    float: right;
    padding-top: 20px;
    padding-left: 10px;

  }
}

.general-header {
  text-transform: uppercase;
}

.select-dropdown {
  .dropdown-container {
    margin: 15px;
    padding: 10px;
  }
}

.sub-head {
  color: red;
  font-size: 24px !important;
}


.strike {
  text-decoration: line-through;
}

#mail .sidenav.md-locked-open .header, #mail .sidenav.md-locked-open .header .logo .logo-icon md-icon {
    color: #FFF;
}

.page-layout.carded.left-sidenav>.sidenav .header {
    height: 200px;
    min-height: 200px;
    max-height: 200px;
    padding: 24px;
}

#mail .sidenav.md-locked-open .header .logo {
    padding-top: 27px;
}

#mail .sidenav .header .logo .logo-icon {
    margin: 0 16px 0 0;
}

#mail .sidenav .header .logo .logo-text {
    font-size: 24px;
}

#mail .sidenav .header .account {
    width: 100%;
}

#mail .sidenav .content {
    padding: 24px 0;
}

#mail .sidenav .content .compose-button {
    padding: 0 24px 24px;
}

// #layout-vertical-navigation #content-container #content {
//     position: absolute;
//     top: 30px;
//     right: 0;
//     bottom: 0;
//     left: 0;
// }

#mail .center .content-card.outlook .content-wrapper .thread-list {
    background: #FAFAFA;
    position: relative;
    padding: 0;
    border-right: 1px solid rgba(0,0,0,.12);
}

#mail .center .content-card.outlook .content-wrapper .thread-detail {
    background: #FFF;
}

#mail .center .content-card.outlook .content-wrapper .thread-list .thread {
    background: #FAFAFA;
    position: relative;
    padding: 16px;
    border-bottom: 1px solid rgba(0,0,0,.12);
    cursor: pointer;
}

#mail .center .content-card.outlook .content-wrapper .thread-list .thread .info {
    overflow: hidden;
    width: 0;
    margin: 0 16px;
}

#mail .center .content-card.outlook .content-wrapper .thread-list .thread .info .name {
    font-size: 15px;
    font-weight: 500;
    padding-bottom: 8px;
}

.text-truncate {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#mail .center .content-card.outlook .content-wrapper .thread-list .thread.current-thread, #mail .center .content-card.outlook .content-wrapper .thread-list .thread.current-thread .info .message .labels {
    background: #E3F2FD;
}

#mail .center .content-card.outlook .content-wrapper .thread-detail .thread-header {
    padding-bottom: 24px;
    border-bottom: 1px solid rgba(0,0,0,.12);
}

#mail .center .content-card.outlook .content-wrapper .thread-detail .thread-content {
    padding: 24px 0;
}

#mail .center .content-card.outlook .content-wrapper .thread-detail .thread-content .info {
    padding-bottom: 16px;
}

#mail .center .content-card.outlook .content-wrapper .thread-detail .thread-content .info .details {
    padding-top: 8px;
}

#mail .center .content-card.outlook .content-wrapper .thread-detail .thread-header .subject {
    font-size: 17px;
    font-weight: 500;
}

#mail .center .content-card.outlook .content-wrapper .thread-detail .thread-content .info .name {
    margin-right: 8px;
    font-weight: 500;
}

#mail .center .content-card.outlook .content-wrapper .thread-detail .thread-content .to {
    color: rgba(0,0,0,.54);
}

#mail .center .content-card.outlook .content-wrapper .thread-detail .thread-content .info .details .title {
    font-weight: 500;
    margin-right: 6px;
}

#mail .center .content-card.outlook .content-wrapper .thread-detail .thread-content .info .details .detail {
    color: rgba(0,0,0,.54);
}
