/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector

section {
  .header {
    background-image: url(http://fuse-angular-material.withinpixels.com/assets/images/backgrounds/header-bg.png);
    background-size: cover;
    height: 80px;
    min-height: 80px;
    max-height: 80px;
    padding: 10px;
    padding-left: 20px;
    margin-bottom: 25px;
    padding-bottom: 20px;

    h1 {
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    .logo-text {
      font-size: 24px;
      padding: 20px;
    }
    h5 {
      margin-top: 5px;
      margin-bottom: 5px
    }
  }
}

.toolbar-header {
  span {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .5px;
  }
}


.template {
  border-top: 3px solid red;
  h3,h1 {
    text-align: center;
  }
}
