<section class="scheduling">
  <!-- HEADER-->
  <div class="header md-accent-bg layout-align-space-between-stretch layout-row" layout="row" layout-align="space-between">
    <div layout="column" layout-align="center start" class="layout-align-center-start layout-column">
      <div class="title ng-binding">
        <h1>
          Schedule / Manage your routine.
        </h1>
      </div>
    </div>
  </div>

  <!-- CONTENT -->
  <div layout="row">
    <div flex='5'>
    </div>
    <div flex='20'>
      <md-toolbar layout="row" class="md-hue-3">
        <div class="md-toolbar-tools toolbar-header">
          <span>Enrolled Courses & Activities</span>
        </div>
      </md-toolbar>
      <md-list flex>
        <md-subheader class="md-no-sticky">{{vm.enrolled.activitesCount}} activites & {{vm.enrolled.coursesCount}} courses.</md-subheader>
        <md-list-item class="md-2-line" ng-click="null" ng-repeat="list in vm.enrolled">
          <div class="md-list-item-text">
            <div style="float: left;">
              <h3>{{list.name}}</h3>
              <p>{{list.enrolled}}</p>
            </div>
            <div style="float:right;">
              <md-button class="md-warn" ng-click="vm.add($event, list)">Add</md-button>
            </div>
          </div>
        </md-list-item>
      </md-list>
    </div>
    <div flex="5">
    </div>
    <div flex='70' style="height: 550px;">
      <calendar-md flex layout layout-fill calendar-direction="direction" on-prev-month="prevMonth" on-next-month="nextMonth" on-day-click="dayClick" title-format="'MMMM y'" ng-model='vm.selectedDate' week-starts-on="vm.firstDayOfWeek"
          tooltips="tooltips" day-format="vm.dayFormat" day-label-format="'EEE'" day-label-tooltip-format="'EEEE'" day-tooltip-format="'fullDate'" day-content="vm.setDayContent" disable-future-selection="false">
      </calendar-md>
    </div>
  </div>
</section>
