<md-list class="date">
  <md-subheader class="md-no-sticky"><span translate="QUICKPANEL.TODAY">Today</span></md-subheader>
  <md-list-item class="md-display-1 md-2-line" layout="column" layout-align="start start">
    <div class="secondary-text">
      <div> {{vm.date | date:'EEEE'}}</div>
      <div layout="row" layout-align="start start">
        <span> {{vm.date | date:'d'}}</span>
        <span class="md-subhead">th</span>
        <span> {{vm.date | date:'MMMM'}}</span>
      </div>
    </div>
  </md-list-item>
</md-list>

<md-divider></md-divider>

<md-list>
  <md-subheader class="md-no-sticky">
    <span translate="QUICKPANEL.Todos">TO - DO's  </span>
    <md-button class="md-fab md-mini" aria-label="add" ng-click="vm.addTask($event)">
      +
    </md-button>
  </md-subheader>

  <md-list-item class="md-2-line" ng-repeat="todo in vm.todos">
    <div class="md-list-item-text">
      <md-checkbox ng-click="vm.update(todo._id, todo.status)" ng-model="todo.status"></md-checkbox>
      <div ng-class="{strike: todo.status}">
        <h3>{{todo.title}}</h3>
        <p>{{todo.description}}</p>
        <strong>Target: </strong> {{todo.target}}
      </div>
    </div>
    <!-- <span class="delete" ng-click="vm.delete(todo.id)"> X </span> -->
    <md-button class="md-fab md-mini md-warn" ng-click="vm.delete(todo._id)"> X </md-button>
  </md-list-item>
</md-list>

<md-divider></md-divider>

<md-list>
  <md-subheader class="md-no-sticky"><span translate="QUICKPANEL.NOTES">Notes</span></md-subheader>
  <md-list-item class="md-2-line" ng-repeat="note in vm.notes" ng-click="dummyFunction()">
    <div class="md-list-item-text">
      <h3>{{note.title}}</h3>

      <p>{{note.detail}}</p>
    </div>
  </md-list-item>
</md-list>

<md-divider></md-divider>
